  <div class="container show_gossip">
  <div class="col text-center">
    <h2>L'auteur : <%= @user.first_name%>  <%= @user.last_name%></h2><br>
  </div>

  <div class="card mx-3">
    <div class="card-header">
      <strong>Profil :</strong>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Âge : <%=@user.age%></li>
      <li class="list-group-item">Description : <%=@user.description%></li>
      <li class="list-group-item">Lieu de résidence : <%=City.find(@user.city_id).name%> </li>
      <li class="list-group-item">E-mail : <%= @user.email%> </li>


    </ul>
  </div>
</div>
