<div class="container">
  <div class="row">
    <div class="col text-center pt-3">
      <%if current_user%>
        <h1>Bonjour <%=current_user.first_name%> !</h1><br>
      <%else%>
        <h1>Bonjour moussaillon</h1><br>
      <%end%>
    </div>
  </div>

  <div class="row">
    <div class="col text-center pb-2">
      <a href="<%= new_gossip_path%>" class="btn btn-success">Ajoute un gossip !</a>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-10">
        <p>💁 Voici la liste des potins :</p>
      </div>
    </div>

    <div class="row">
      <% Gossip.all.each do |potin|%>
        <%@gossip = potin %>
        <div class="col">
          <div class="card mb-4" style="width: 17rem; height: 12rem;">
            <div class="card-body">
              <h5 class="card-title"><%= potin.title.capitalize!%></h5>
              <h6 class="card-subtitle mb-2 text-muted">by <%= User.find_by(id: potin.user_id).first_name%> </h6>
              <p class="card-text"><%= @gossip.content[0..50] %>...</p>
                <div class="col text-center">
                  <a href="<%= gossip_path(@gossip.id)%>" class="btn btn-info">Voir plus</a>
                </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
</div>
